[% WRAPPER "templates/layouts/insurgent.html.tt2" %]
<h1>Reset Your Password</h1>

<p>
The form below allows you to reset your password. Please enter your new
password.
</p>

[% handle_password_reset_form %]
[% END %]
