.*
!.gitignore
!.perltidyrc
*~
blib
Makefile*
!Makefile.PL
META.yml
MANIFEST*
!MANIFEST.SKIP
pm_to_blib

*.bak
log
nytprof
moonfuzz.komodoproject
moonfuzz.kdev4
moonfuzz.db
moonfuzz.lock
moonfuzz.pid
nytprof.out
