.*
!.gitignore
!.perltidyrc
*~
blib
Makefile*
!Makefile.PL
META.yml
MANIFEST*
!MANIFEST.SKIP
pm_to_blib

*.bak
log
nytprof
socialmap.komodoproject
socialmap.kdev4
socialmap.db
socialmap.lock
socialmap.pid
nytprof.out
