.*
!.gitignore
!.perltidyrc
*~
blib
Makefile*
!Makefile.PL
META.yml
MANIFEST*
!MANIFEST.SKIP
pm_to_blib

log
rc.socialmap
socialmap.komodoproject
socialmap.db
socialmap.lock
socialmap.pid
socialmap.bak
