[% WRAPPER "templates/layouts/insurgent.html.tt2" %]
[%- USE HTML -%]
<h1>Insurgent Software's User Management Application</h1>
<ul>
[% IF c.session.login %]
<li><a href="[% HTML.escape(c.url_for('account_page')) %]">Go to Your Account</a></li>
[% ELSE %]
<li><a href="[% HTML.escape(c.url_for('login')) %]">Login to an existing account</a></li>
<li><a href="[% HTML.escape(c.url_for('register')) %]">Register a new account</a></li>
[% END %]
</ul>
[% END %]
