html {    
    height:100%;
}   

body {
    height: 98%;
    background-color: #2b2d2c;
}

a {
    font-weight: bold;
    font-size: 0.9em;
    text-decoration: none;
}

a:link {
    color: #333;
    
}

a:visited {
    color: #333;
}

#map_canvas { height: 100% }